
# Visual studio
*.user
*.obj
*.log
*.pdb
*.tlog
*.lastbuildstate
*.exe
*.dll
*.dll.recipe
*.lib
*.exp
*.iobj
*.ipdb
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ilk
*.idb
*.exe.recipe
*.FileListAbsolute.txt
*.sdf
*.opensdf
*.exe.embed.manifest
*.exe.embed.manifest.res
*_manifest.rc



